.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    %h1 Profile

.flex.my-8
  .ml-auto.mr-auto{ class: 'w-2/3' }
    .flex
      .w-full.py-8.border-t.border-b
        .flex.discogs-token
          - if @user.discogs_token.blank?
            .w-full
              In order to use the search functionality, you need to
              = link_to 'configure your discogs token', edit_discogs_token_path
          - else
            %div{ class: 'w-1/3' }
              Your discogs token
            %div{ class: 'w-1/3' }
              %pre= @user.discogs_token
            .text-right{ class: 'w-1/3' }
              = link_to 'Set token', edit_discogs_token_path, class: 'green-button'
