= form_with(url: '/search', method: 'get', class: 'search-form') do
  = text_field_tag :search_catno, params[:search_catno], placeholder: 'Catalog number', class: 'search-form--text-field'
  = submit_tag 'Search Discogs', class: 'search-form--submit'
