- if current_user.discogs_token.blank?
  .flex.py-4.bg-pink-100.text-pink-900
    .ml-auto.mr-auto{ class: 'w-2/3' }
      You need to
      = link_to 'configure your Discogs token', profile_path
      before you can use the search functionality.

- elsif @search.invalid_token?
  .flex.py-4.bg-pink-100.text-pink-900
    .ml-auto.mr-auto{ class: 'w-2/3' }
      There seems to be a problem with your Discogs token. Please head over to
      = link_to 'your profile page', profile_path
      and check your configured token.
- else
  = render 'search_results', search: @search
