.text-xs
  Status:
  .inline.discogs-token--status
    - if @user.discogs_token_not_available?
      .inline.text-gray= user.discogs_token_status
    - elsif @user.discogs_token_valid?
      .inline.text-green-500= user.discogs_token_status.capitalize
    - else
      .inline.text-red-500= user.discogs_token_status.capitalize

