default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: vdb_development

test:
  <<: *default
  database: vdb_test

production:
  <<: *default
  database: vdb_production
  username: vdb
  password: <%= ENV['VDB_DATABASE_PASSWORD'] %>
